.lang-de,
.lang-fr,
.lang-pt,
.lang-es {
    .subscription-plans__item {
        padding-right: 24px;
    }

    .item__badge {
        font-size: 11px;
    }

    .footer__list {
        width: 100%;
    }
}

.lang-de,
.lang-fr {
    .main__advantage-desc {
        font-size: 11px;
    }

    .item__title,
    .subscription-plans__item {
        font-size: 14px;
    }

    .footer__item {
        font-size: 11px;
    }
}

@media (width: 375px) and (height: 812px) {
    .container {
        padding-top: max(44px, env(safe-area-inset-top));
    }

    .close-btn {
        top: calc(max(44px, env(safe-area-inset-top)) + 16px);
    }
}

@media (width: 375px) and (height: 667px) {
    body {
        background-position: 50% 25%;
    }

    .container {
        padding-top: max(21px, env(safe-area-inset-top));
        padding-bottom: max(8px, env(safe-area-inset-bottom));
    }

    .close-btn {
        top: calc(max(21px, env(safe-area-inset-top)) + 16px);
    }

    .main__title {
        padding-bottom: 16px;
    }

    .subscription-plans {
        padding: 26px 0;
    }

    .subscription-plans__continue-btn {
        margin-top: 0;
    }

    .lang-de .main__advantage-desc {
        font-size: 11px;
    }
}

@media (width: 414px) and (height: 736px) {
    body {
        background-position: 50% 25%;
    }

    .container {
        padding-top: max(21px, env(safe-area-inset-top));
        padding-bottom: max(8px, env(safe-area-inset-bottom));
    }

    .close-btn {
        top: calc(max(21px, env(safe-area-inset-top)) + 16px);
    }

    .main__title {
        padding-bottom: 16px;
    }

    .subscription-plans {
        padding: 26px 0;
    }

    .subscription-plans__continue-btn {
        margin-top: 0;
    }
}

@media (width: 375px) and (height: 812px) {
    .lang-de .main__advantage-desc {
        font-size: 11px;
    }
}

@media (max-width: 374px) {
    .lang-en {
        .subscription-plans__item {
            padding-right: 24px;
        }
    }

    .lang-fr {
        .main__advantage-desc {
            padding-right: 2px;
        }
    }

    .lang-de,
    .lang-fr {
        .footer__item {
            font-size: 10px;
        }
    }

    .lang-de,
    .lang-fr,
    .lang-es {
        .subscription-plans__item {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    .lang-pt {
        .item__title,
        .subscription-plans__item {
            font-size: 14px;
        }
    }
}
